<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
					    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="topmenu">
	<select id="get_topmenu_list" resultType='co.soft.beans.MenuInfoBean'>
		<![CDATA[
			select menu_info_idx, menu_info_name from menu_info_table order by menu_info_idx
		]]>
	</select>
</mapper>